# Branching (if/elif/else)
Python provides the is statements to allow branching based on conditions. Multiple elif checks can also be performed followed by an optional else clause.The if statement can be used with any evaluation of truthiness.

In [1]:
i = 18


if i < 13:
    print('less than 13')
    
elif i > 15:
    print('less than 15')
    
else:
    print('15 or more')

less than 15

In [2]:
i = 91
j = 23
if j > i :
    print("It's working")
else:
    print('It is not greater')

It is not greater

In [3]:
a = 276575

b = 230000

print("A") if a > b else print("B")

A

In [4]:
a = 430

b = 530

print("A") if a > b else print ("it is eql") if a ==b else print("B")

B

In [5]:
a = 200

b = 33

c = 500

if a > b and c > a:
    print("Both conditions are True")
else:
    print("At least one of the conditions is True")

Both conditions are True

In [8]:
a = 200

b = 33

c = 500

if a > b or c < a:
    print("At least one of the conditions is True")

At least one of the conditions is True

### Find student level

In [13]:
marks = 34

if marks > 60:
    if marks > 70:
        print ('Distinction')
    else:
        print ('First class')
        
elif marks > 50 and marks <= 60:
    print('Second class')
    
elif marks >= 35:
    print('Pass')
    
else:
    print ('Fail - Better luck next time')

Fail - Better luck next time

In [14]:
num1 = 20
num2 = 30

if num1 == '20':
    print ('Shankar is wrong')
    
elif num2 > 25:
    print ('I am working')

I am working

# Loops

In general, statements are executed sequentially:The first statement in a dunction is executed first, followed by the second and so on. There may be a situation when you need to execute a block of codes several number of times.
    
    Programming languages provide various control structures that allow for more complicated execution paths.
    
## For loop
    
    The for loop in python is used to iterate over a sequence (list,tuple,string) or other iterable objects. iterating over a sequence is called traversal.
    
    Loop continues until we reach the last item in the sequence. The body of loop is seperated from the rest of the code using indentation.

In [16]:
location = ['Benguluru','Noida','Chennai','Hyderabad','Delhi']
print(location)

['Benguluru', 'Noida', 'Chennai', 'Hyderabad', 'Delhi']

In [17]:
# list of string
location = ['Benguluru','Noida','Chennai','Hyderabad','Delhi']

for i in location:
    print(i)

Benguluru
Noida
Chennai
Hyderabad
Delhi

In [18]:
salary = [2000, 4000, 5000, 7000, 8000, 4500, 3800]

for val in salary:
    if val > 5500:
        print(val)

7000
8000

In [26]:
student_scores = [35,43,78,79,13,34,63,44,43]

for marks in student_scores:
    if marks > 60:
        if marks > 70:
            print ('Distinction')
        else:
            print ('First class')
        
    elif marks > 50 and marks <= 60:
        print('Second class')
    
    elif marks >= 35:
        print('Pass')
    
    else:
        print ('Fail - Better luck next time')

Pass
Pass
Distinction
Distinction
Fail - Better luck next time
Fail - Better luck next time
First class
Pass
Pass

# List Comprehension

List comprehension is a shorter syntax when you want to create a new list based on the values of an existing list.

In [19]:
sal = [val for val in salary if val > 5100]
sal

[7000, 8000]

In [27]:
# List of numbers
daily_sales = [100, 150, 100, 200, 150, 200, 300]

# Varaible to store the sum
income_till_date = 0

# iterate over the list
for val in daily_sales:
    
    income_till_date = income_till_date + val
    print ('income till date =>',income_till_date)
    
# Total income
print("The Total Weekly Income is === >>", income_till_date)

income till date => 100
income till date => 250
income till date => 350
income till date => 550
income till date => 700
income till date => 900
income till date => 1200
The Total Weekly Income is === >> 1200

### for loop with else

A for loop can have an optional else book as well. The else part is executed if the items in the sequence used in for loop exhausts.

brak statement can be used to stop a for loop. In such case, the else part is ignored.

Hence, a for loop's else part runs if no break occurs.

Here is an example ti illustrate this.

In [28]:
digits = [15,20,30]

for i in digits:
    print(i)
else:
    print("No Items Left.")

15
20
30
No Items Left.

# While loop

The while loop in python is used to ilterate over a block code as long as the test expression (condition) is true.

We generally use this loop when we don't know beforehand, the number of times to iterate.

In while loop, test expression is checked first. The body of the loop is enterd only if the test_expression evalvates to True. After one iteration,the test expression is checked again. This process continues until the test_expression evaluates to False.

In Python,the body of the while loop is determined through indentation.

Body starts with identation and the first unindented line marks the end.

Python interprets any non-zero value as True. note and 0 are interpreted as False.

In [31]:
n = 5

# intialize sum and counter
sum = 0

i = 1

while i <=n:
    sum = sum + i
    i = i+1 # update counter
    print (sum)
    
#print the sum
print("The sum is", sum)

1
3
6
10
15
The sum is 15

# Difference b/w For and While loop

#for loop = if you know how many times you want to execute the code then use for loop.

#While loop = if you dont know how many items you want to execute then use the while with condition. It means you will execute the code if the condition is true only

# Break and Continue Statement

In Python, break and continue statements can alter the flow of a normal loop.

Loops iterate over a block of code until test expression is false, but sometimes we wish to terminate the current iteration or even the whole loop without checking test expression.

The break and continue statements are used in these cases.

# break

The break statement terminates the loop containing it. Control of the program flows to the statement immediately after the body of the loop.

If break statement is inside a nested loop(loop inside another loop), break will terminate the innermost loop.

In [32]:
# Use of break statement inside loop
city = ['Benguluru','Delhi','Noida','Hyderabad','Mumbai']

for val in city:
    if val == "Hyderabad":
        break
    print(val)

Benguluru
Delhi
Noida

In [38]:
# As soon as condition satisfy loop will break and it will check most elements

salary = [2000,3800,4000,4500,5000,7000,8000]

for val in salary:
    if val >= 4600:
        break
    print(val)

2000
3800
4000
4500

## Continue

The continue statement is used to skip the rest of the code inside a loop for the current iteration only. Loop does not terminate but continues on with the next iteration.

In [39]:
# program to show the use of continue statement inside loops
city = ['Benguluru','Delhi','Noida','Hyderabad','Mumbai']

for val in city:
    if val == "Hyderabad":
        continue
    print(val)

Benguluru
Delhi
Noida
Mumbai

In [42]:
salary = [2000,3800,4000,4500,5000,7000,8000]

for val in salary:
    if val > 5000:
        continue
    print(val)

2000
3800
4000
4500
5000

# The range() function

We can generate a sequence of numbers using range()function.range(10) will generate numbers from 0 to 9(10 numbers).

We can also define the satrt, stop and step size as range(start,stop,step size).step size defaults to 1 if not provided.

this function does not store all the values in memory,it would be inefficient. so it remembers the start ,stop,step size and generates the next number on the go.

To force this function to output all the items, we can use the function list().

The following example will clarify this.

In [1]:
print(range(10))

range(0, 10)

In [2]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
roll_numbers = list(range(1,8))
roll_numbers

[1, 2, 3, 4, 5, 6, 7]

roll_numbers

In [10]:
step_size = list(range(0,26,5))
step_size

[0, 5, 10, 15, 20, 25]

In [6]:
incr_by_hund = list(range(100, 1600, 100))
incr_by_hund

[100,
 200,
 300,
 400,
 500,
 600,
 700,
 800,
 900,
 1000,
 1100,
 1200,
 1300,
 1400,
 1500]

In [7]:
reverse = list(range(1600, 100, -100))
reverse

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200]