## List Extended

### Earlier while discussing introduction to strings we have introduced the concept of a sequence in python.In python,Lists can be considered as the most general version of a squence to th "loop varaible" for a single pass of the loop,during which enclosed back is executed.

### Lists are constructed with brackets [] and commas seperating every element in the list.

#### Lets go ahead and understand more methods

NameError: name 'employee' is not defined

In [2]:
employee = []

employee.append('Radha')

print(employee)

['Radha']

In [3]:
employee.append('Ramesh')
employee.append('salman')
print(employee)

['Radha', 'Ramesh', 'salman']

In [4]:
employee.insert(1,"d souza")
employee

['Radha', 'd souza', 'Ramesh', 'salman']

In [5]:
emp_salary = [15000,28000,19000]

In [6]:
emp_salary.insert(1,40000)
emp_salary

[15000, 40000, 28000, 19000]

In [7]:
employee

['Radha', 'd souza', 'Ramesh', 'salman']

In [8]:
len(employee)

4

# Indexing and Slicing

### Indexing and Slicing of lists works just like in strings. Let's fetch element based on index.

In [9]:
employee

['Radha', 'd souza', 'Ramesh', 'salman']

In [10]:
# Grab element based on index
employee[-2]

'Ramesh'

In [11]:
employee[1] = 'Remo'
employee

['Radha', 'Remo', 'Ramesh', 'salman']

In [12]:
emp_salary

[15000, 40000, 28000, 19000]

In [13]:
# update the data based on index
emp_salary[1] = 20000

In [14]:
# Grab index 1 and everything past it
emp_salary[1:]

[20000, 28000, 19000]

In [15]:
# Grab everything UP To index 2
emp_salary[: 3]

[15000, 20000, 28000]

In [17]:
emp_salary[1:3]

[20000, 28000]

#### We can also use "+" to concentrate lists,just like we did strings.

In [16]:
emp_salary + [25000]

[15000, 20000, 28000, 19000, 25000]

In [18]:
emp_salary

[15000, 20000, 28000, 19000]

#### Note: This doesn't actually change the orginal list!

### In this case, you have to reassign the list to make the permenant change.

In [19]:
# Reassign to keep the dat permenantly
emp_salary = emp_salary + [25000]

In [20]:
emp_salary

[15000, 20000, 28000, 19000, 25000]

## We can also use the * for a duplication method similar to strings

In [21]:
# Make the list double
emp_salary * 2

[15000, 20000, 28000, 19000, 25000, 15000, 20000, 28000, 19000, 25000]

print ('*' * 100)
print ('        Data Trained      ')
print ('=' * 100)

In [23]:
# Again doubling not permenant
emp_salary

[15000, 20000, 28000, 19000, 25000]

# Advanced lists

#In this serie of lectures, we will be driving a little deeper into all the available methods in a list object. These are just methods that should encountered without some additional exploring. Its pretty likely that you've already encountered some of these yourself.

#Lets begin!

# Count
#We discussed this during the methods lectures, but here is it again() takes in an element and returns the number of times it occures in yor list:

In [27]:
marks = [25,38,49,55,38,26,47,55,60,74,88,38]

In [28]:
marks.count(38)

3

# Index
#index returns the element placed as an argument. Make a note that if the element is not in the list yhen it returns an error.

In [29]:
marks

[25, 38, 49, 55, 38, 26, 47, 55, 60, 74, 88, 38]

In [30]:
marks.index(55)

3

# extend
#Many times people find the difference between extend and append to be unclear. So not that.
#### append:Appends object at end.

In [31]:
employee

['Radha', 'Remo', 'Ramesh', 'salman']

In [32]:
employee.append(['Anu','Sapna'])
print(employee)

['Radha', 'Remo', 'Ramesh', 'salman', ['Anu', 'Sapna']]

#### extend: extends list by appending elements from the iterable

In [34]:
employee = ['Radha','Remo','Ramesh','Salman']

employee.extend(['Anu', 'Sapna'])
print(employee)

['Radha', 'Remo', 'Ramesh', 'Salman', 'Anu', 'Sapna']

#### Similarly you can add integer data as well. Concept is same for any type data

# pop

### you must likely have already seen pop(), which allows to "pop" off the last element of a list.

In [35]:
students = ['Raj','Ram','Abid','Nancy','Fatima']

In [36]:
students

['Raj', 'Ram', 'Abid', 'Nancy', 'Fatima']

In [37]:
# Delets last element
pop_last = students.pop()

In [38]:
pop_last

'Fatima'

In [39]:
students

['Raj', 'Ram', 'Abid', 'Nancy']

In [40]:
students = ['Raj','Ram','Abid','Nancy','Fatima']

In [41]:
# Delete based on index position
pop_index = students.pop(1)
pop_index

'Ram'

In [42]:
students

['Raj', 'Abid', 'Nancy', 'Fatima']

# remove

### The remove()method remove the first occurence of a value.For Example:

In [44]:
roll_numbers = [100,101,102,103,104,103]

In [45]:
# Delte data.(if there are duplicates, first element is deleted)
roll_numbers.remove(100)

In [46]:
print (roll_numbers)

[101, 102, 103, 104, 103]

#### if there are more than a 2 duplicates,we can remove using 'set'. we will learn in the next chapter

# reverse

#As the name suggests,reverse()helps you to reverse a list.Note this occurs in place! meaning it effects your list permenently.

In [47]:
lst = [1,2,3,4,3]

In [48]:
lst.reverse()

In [49]:
lst

[3, 4, 3, 2, 1]

# Sort
 sort will sort your list place:

In [50]:
marks = [25,38,49,55,38,26,47,55,60,74,88,38]
marks

[25, 38, 49, 55, 38, 26, 47, 55, 60, 74, 88, 38]

In [51]:
# By default sorts in ascending order 

marks.sort()
print (marks)

[25, 26, 38, 38, 38, 47, 49, 55, 55, 60, 74, 88]

In [52]:
# Sort in descending order

marks.sort(reverse=True)

print (marks)

[88, 74, 60, 55, 55, 49, 47, 38, 38, 38, 26, 25]

# Tuples

In Python , tuples are similar to lists but they are immutable i.e. they cannot be changed . You would use the tuples to presnt data that shouldnt be changed such as days of week or dates on a calendar.

In this section, we will get a brief overview of the following key topics.

1.) Constructing Tuples.
2.) Basic Tuple Methods.
3.) Immutability
4.) When to use Tuples.

You'll have an intuition of how to use tiples based on what you've learned about lists. But, Tuple work very similarly to lists but the major difference is tuples are immutable.

# Constructing Tuples

The construction of tuples use() wiyh elements seperated by comments where in the arguments will be passed within brackets. For example.

In [54]:
# Can create a tuple with mixed types
Work_location = ('Benguluru','Noida','Chennai','Delhi')
Work_location

('Benguluru', 'Noida', 'Chennai', 'Delhi')

In [55]:
type(Work_location)

tuple

### Lets try to add new work location

In [57]:
Work_location.append('Hyderabad')

AttributeError: 'tuple' object has no attribute 'append'

# Not possible as it is immutable

But how do I add it?

Yes, we can convert tuple into list and change the data as per our wish.

In [58]:
# Convert into list and ressign or you can store in new varaible as per the need 
Work_location = list(Work_location)
Work_location

['Benguluru', 'Noida', 'Chennai', 'Delhi']

In [59]:
type(Work_location)

list

In [60]:
# Change the data
Work_location.append('Hyderabad')
Work_location

['Benguluru', 'Noida', 'Chennai', 'Delhi', 'Hyderabad']

In [62]:
Work_location[1] = 'Kolkata'
Work_location

['Benguluru', 'Kolkata', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata']

In [66]:
#convert into tuple
Work_location = tuple(Work_location)

In [65]:
# check len just like a list
len(Work_location)

6

# Similarly you can work with numbers as well. No change in the concept

In [67]:
Work_location

('Benguluru', 'Kolkata', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata')

In [68]:
# use indexing just like we didd in lists
Work_location[1]

'Kolkata'

In [69]:
# Slicing just like a list
Work_location[-2]

'Hyderabad'

# Basic tuple methods

Tuples have built-in methods, but not as many as lists do. Let's see two samples of tuple built-in methods.

In [70]:
numbers = (25,50,88,90,50)
numbers

(25, 50, 88, 90, 50)

In [71]:
# use .index to enter a value and return the index.
numbers.index(50)

1

In [72]:
# use.count to count the number of times a value appears
numbers.count(50)

2

# Sets

Sets are an unorderd collection of unique elements which can be constructed using the set() function.

Let's go ahead and create a set to see how it works.

In [74]:
roll_numbers = set()

In [75]:
# show
type(roll_numbers)

set

In [76]:
#We add to sets with the add ()method
roll_numbers.add(1)

In [77]:
roll_numbers

{1}

Note that the curly brackets do not indiacte a dictionary! Using only keys, can draw anologies as a set begining a dictionary.

We know that a sethas only unique entry.Now let see what happens when we tryto add something  more that is already present in a set?

In [79]:
# Add a different element
roll_numbers.add(2)

In [80]:
#Show
roll_numbers

{1, 2}

Notice,how it won't place another 1 there as a set is only concerned with unique elements! However, We can cast a list with multiple repeat elements the set to get the unique elements. For example :

In [1]:
# Create a list with repeats
remove_dups = [8,5,6,9,1,1,2,2,3,4,5,6,1,1]

In [2]:
# cast asa set to get unique values
set(remove_dups)

{1, 2, 3, 4, 5, 6, 8, 9}

## you can use set for strings as well.